<h1> Note</h1>
<%= render 'shared/error_messages', object: @note %>
<div class="container">
  <div class="row ">
      <div class="col-12 d-flex justify-content-end">
        <%= link_to  "Edit", edit_note_path(@note), method: :get ,class:"btn btn-warning" %>
        <%if current_user.id == @note.user_id %>
          <%= link_to  "Share", edit_note_path(@note), method: :get ,class:"btn btn-primary ml-3" %>
          <%= link_to  "Delete", note_path, method: :delete,data: { confirm: "You sure?" }, class:"btn btn-danger ml-3" %>                
        <%end %>
      </div>
      <div class="col-12 px-1 my-2">
          <%= render 'note_large', note: @note %> 
      </div>
  </div>
</div>
