<h2>Change Profile Picture</h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: true }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
  
    <div class="form-group">
      <%= image_tag(if current_user.profile_picture? then current_user.profile_picture.url else 'defaultPP.png' end,class:"img-fluid rounded-circle", size: "200x200") %>
      <%= f.file_field :profile_picture,accept: 'image/jpeg,image/jpg,image/gif,image/png',id:"img-input" ,class:"form-control" %>
      <%= f.hidden_field :profile_picture_cache %>
    </div>

<h2>Change Password</h2>


  <div class="form-group">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password",class: "form-control" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password",class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password",class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Update",class: "btn btn-primary" %>
  </div>
<% end %>

<h3 class="mt-4" >Cancel my account</h3>

<%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete,class: "btn btn-danger mb-2" %>

<%= link_to "Back", :back %>


<script type="text/javascript">
  $('#img-input').bind('change', function() {
    var size_in_megabytes = $('#img-input')[0].files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
        $('#img-input').val('');
    }
  });
</script>