<!DOCTYPE html>
<html class="h-100">
  <head>
    <title>NotesSharingApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="h-100" >
  <%= render  "layouts/navbar" %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="container h-100 mt-4">
      <%= yield %>
    </div>
  </body>
</html>
